<div class="widget-box animated fadeIn">
  <h5><i class="fa fa-pencil"></i>&nbsp;تعديل خدمة ({{editServiceForm.name}})</h5>
  <hr>
  <form novalidate ng-submit="editService()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">اسم الخدمة</label>
          <input class="form-control input-sm" type="text" ng-model="editServiceForm.name" ng-required-err-type="name" placeholder="اسم الخدمة" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">مزود الخدمة</label>
          <select class="form-control input-sm" ng-model="editServiceForm.servicesProvider" ng-options="serviceProvider._id as serviceProvider.name for serviceProvider in serviceProviders.serviceProvidersObj" ng-required-err-type="servicesProvider" required>
            <option value="" disabled selected>الرجاء الاختيار</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="control-label">معلومات عن الخدمة</label>
          <textarea class="form-control input-sm" cols="30" rows="10" ng-model="editServiceForm.discriptoin" ng-required-err-type="discriptoin" placeholder="معلومات عن الخدمة" required></textarea>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2 col-md-offset-5">
        <button type="submit" class="btn btn-warning btn-sm btn-block"><i class="fa fa-pencil"></i>&nbsp;تعديل</button>
      </div>
    </div>
  </form>
</div>