<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>إضافة مدير (Admin)</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <form novalidate ng-submit="newUser()">
          <div class="row">
          	  <div class="col-md-4" ng-class="{'col-md-3': newCustomerForm.type==2}">
              <div class="form-group">
                <label class="control-label">اسم المدير</label>
                <input class="form-control input-sm" type="text" ng-model="newUserForm.name" ng-required-err-type="customerName" placeholder="اسم المدير" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">البريد الالكتروني</label>
                <input class="form-control input-sm" type="text" ng-model="newUserForm.email" ng-required-err-type="repName" placeholder="البريد الالكتروني" required>
              </div>
            </div>

             <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">رقم الهاتف</label>
                <input class="form-control input-sm" type="text" ng-model="newUserForm.phone" ng-required-err-type="repName" placeholder="رقم الهاتف" required>
              </div>
            </div>
          <div class="row">
          	 <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">رقم السري</label>
                <input class="form-control input-sm" type="password" ng-model="newUserForm.password" ng-required-err-type="repName" placeholder="الرقم السري" required>
              </div>
            </div>
           
          

       
          	 <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">تأكيد رقم السري</label>
                <input class="form-control input-sm" type="password" ng-model="newUserForm.confPassword" ng-required-err-type="repName" placeholder="تأكيد الرقم السري" required>
              </div>
            
           </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-2 col-md-offset-4">
              <button type="submit" class="btn btn-primary btn-sm btn-block"><i class="fa fa-plus"></i>&nbsp;إضافة</button>
            </div>
            <div class="col-md-2">
              <a class="btn btn-success btn-sm btn-block" ui-sref="customers"><i class="fa fa-ban"></i>&nbsp;إلغاء</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>