<!DOCTYPE html>
<html ng-app="isp">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>شاشة الدخول | شركة الحلول المتقنة لتقينة المعلومات والإتصالات</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-rtl/dist/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body style="background:#F7F7F7;">
    <div>
      <a class="hiddenanchor" id="toregister"></a>
      <a class="hiddenanchor" id="tologin"></a>
      <div id="wrapper">
        <div id="login" class=" form">
          <section class="login_content" ng-controller="LoginCtl">
            <form novalidate ng-submit="login()">
              <h1 class="h1">شاشة الدخول</h1>
              <div class="form-group">
                <input type="email" class="form-control input-sm" placeholder="البريد الالكتروني" ng-model="loginForm.email" ng-required-err-type="emailType" required/>
              </div>
              <div class="form-group">
                <input type="password" class="form-control input-sm" placeholder="كلمة المرور" ng-model="loginForm.password" ng-required-err-type="password" required/>
              </div>
              <div>
                <!-- <a class="btn btn-default submit" href="index.html">تسجيل الدخول</a> -->
                <button type="submit" class="btn btn-default btn-sm"><i class="fa fa-sign-in"></i>&nbsp;تسجيل الدخول</button>
                <a class="reset_pass" href="#">إعادة تعيين كلمة المرور</a>
              </div>
              <div class="clearfix"></div>
              <div class="separator">
                <div class="clearfix"></div>
                <br />
                <div>
                  <h2>شركة الحلول المتقنة لتقينة المعلومات والإتصالات</h2>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
    <script src="/angular/angular.min.js"></script>
    <script src="/angular-auto-validate/dist/jcs-auto-validate.min.js"></script>
    <script src="/js/login.js"></script>
  </body>
</html>