@font-face {
  font-family: 'JFFlat';
  src : url("../fonts/JF-Flat-regular.ttf") format("truetype");
}
@font-face {
  font-family: 'droidkufi';
  src : url("../fonts/DroidKufi-Regular.ttf") format("truetype");
}
body {
  font-family: 'droidkufi', sans-serif;
}
.h1{
  font-family: 'droidkufi', sans-serif;
}
.login_content h1{
  font-family: 'droidkufi', sans-serif;
  font-size: 20px;
}