@font-face {
  font-family: 'JFFlat';
  src : url("../fonts/JF-Flat-regular.ttf") format("truetype");
}
@font-face {
  font-family: 'droidkufi';
  src : url("../fonts/DroidKufi-Regular.ttf") format("truetype");
}
body {
  font-family: 'droidkufi', sans-serif;
}
.h1{
  font-family: 'droidkufi', sans-serif;
}
.login_content h1{
  font-size: 25px;
  color: #000000;
  margin: 0;
  padding-top: 15px;
}
h5{
  direction: ltr;
  padding-bottom: 15px;
}
