@font-face {
  font-family: 'JFFlat';
  src : url("../fonts/JF-Flat-regular.ttf") format("truetype");
}
@font-face {
  font-family: 'droidkufi';
  src : url("../fonts/DroidKufi-Regular.ttf") format("truetype");
}
html{
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'droidkufi', sans-serif;
  /*padding: 20px;*/
  padding-top: 10px;
  background-color: #F5F5F5;
  background-image: url('../img/background.jpg');
}
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: inset 0 -2px 0 #666666;
  box-shadow: inset 0 -2px 0 #666666;
}
.widget-box{
  background-color: #fff;
  border-radius: 4px;
  position: relative;
  padding: 30px;
  padding-top: 10px;
}
.footer{
  bottom: 0;
  position: absolute;
  width: 100%;
}
.footer p,.footer a{
  color: #A79B9B;
  text-align: center;
}
.footer a:hover{
  text-decoration: underline;
}
select, select.form-control {
  background-position: left center;
  padding-right: 0;
}
.nav-user {
  background-color: #fa6f57;
  min-height: 51px;
  border-radius: 0;
}
#row{
  padding-top: 70px;
}
/*Right panel menu style start*/
.icon { margin-left:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-right: 15px }
.panel-body .table {margin-bottom: 0px; }
.collapse.am-collapse {
  animation-duration: .3s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  overflow: hidden;
  &.in-remove {
    animation-name: collapse;
    display: block;
  }
  &.in-add {
    animation-name: expand;
  }
}
/*Right panel menu style end*/
.panel-table{
  padding:0;
}
.panel-table .panel-body .table-bordered{
  border-style: none;
  margin:0;
}
.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type {
  text-align:center;
  width: 100px;
}
.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
  border-right: 0px;
}
.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
  border-left: 0px;
  width: 25%;
}
.panel-table .panel-body .table-bordered > tbody > tr:last-of-type > td{
  border-bottom: 0px;
}
.panel-table .panel-body .table-bordered > thead > tr:last-of-type > th{
  border-top: 0px;
}
.panel-table .panel-footer .pagination{
  margin:0; 
}
.panel-table .panel-footer .col{
 line-height: 34px;
 height: 34px;
}
.active{
  font-weight: 700;
}
.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}
.well-sm{
  background-color: #fff;
  border-radius: 4px;
}
.switch-info{
  direction:ltr;
}
.panel-footer{
  padding: 10px 0 0 0;
}
.tab-pane.am-fade {
  animation-duration: .3s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  opacity: 1;
}
.nav.nav-tabs{
  cursor:pointer;
}
.tab-content{
  padding-top: 10px;
}