@font-face {
  font-family: 'JFFlat';
  src : url("../fonts/JF-Flat-regular.ttf") format("truetype");
}
@font-face {
  font-family: 'DroidKufi';
  src : url("../fonts/DroidKufi-Regular.ttf") format("truetype");
}
body, h1, h2, h3, h4, h5, h6, a {
  font-family: 'DroidKufi', sans-serif;
}
.scroll-to-top>i{
  font-size: 40px;
}
.x_panel {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  display: inline-block;
  background: #fff;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}
.x_title {
  border-bottom: 2px solid #E6E9ED;
  padding: 15px 6px 0px;
  margin-bottom: 10px;
  padding-bottom: 15px;
}
.x_content {
  padding: 0 5px 6px;
  position: relative;
  width: 100%;
  float: left;
  clear: both;
  margin-top: 5px;
}
h2 {
  font-size: 20px;
  margin: 3px;
}
table.jambo_table {
  border: 1px solid rgba(221, 221, 221, 0.78);
}
table.jambo_table thead {
    background: rgba(52, 73, 94, 0.94);
    color: #ECF0F1;
}
.bg-info{
  padding: 10px;
}
 p {
     margin: 0; 
}
.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}