<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>تعديل خدمة خدمة <span>({{editServiceProviderForm.name}})</span></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <form novalidate ng-submit="editServiceProvider()">
          <div class="row">
            <div class="col-md-3" align="center">
              <img ng-src="{{editServiceProviderForm.logo | defaultLogo:'../img/internetProvider.png'}}" class="img-rounded img-responsive" alt="" style="width:75%;">
              <br>
              <button type="file" class="btn btn-default btn-sm" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*" ngf-max-height="1000" ngf-max-size="2MB">
                <i class="fa fa-upload"></i>&nbsp;تحمل الشعار
              </button>
            </div>
            <div class="col-md-9">
              <br>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">اسم الخدمة</label>
                    <input class="form-control input-sm" type="text" ng-model="editServiceProviderForm.name" ng-required-err-type="name" placeholder="اسم الخدمة" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">رقم الهاتف</label>
                    <input class="form-control input-sm" type="text" ng-model="editServiceProviderForm.phone" ng-required-err-type="phone" placeholder="رقم الهاتف" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">البريد الالكتروني</label>
                    <input class="form-control input-sm" type="email" ng-model="editServiceProviderForm.email" ng-required-err-type="emilType" placeholder="البريد الالكتروني" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">موقع مزود الخدمة</label>
                    <input class="form-control input-sm" type="text" ng-model="editServiceProviderForm.website" ng-required-err-type="website" placeholder="موقع مزود الخدمة" required>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-2 col-md-offset-4">
              <button type="submit" class="btn btn-warning btn-sm btn-block"><i class="fa fa-pencil"></i>&nbsp;تعديل</button>
            </div>
            <div class="col-md-2">
              <a class="btn btn-success btn-sm btn-block" ui-sref="serviceProviders"><i class="fa fa-ban"></i>&nbsp;إلغاء</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>