<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>إضافة مزود خدمة جديد</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <form novalidate ng-submit="newServiceProvider()" name="myForm">
          <div class="row">
            <div class="col-md-3" align="center">
              <img ngf-thumbnail="newServiceProviderForm.logo || '../img/internetProvider.png'" class="img-rounded img-responsive" style="width:75%;">
              <br>
              <button 
                class="btn btn-default btn-sm" type="file" ngf-select ng-model="newServiceProviderForm.logo" name="logo"
                accept="image/*" ngf-max-size="2MB" required="required"
                ngf-model-invalid="errorFiles" ng-class="(newServiceProviderForm.logo && newServiceProviderForm.logo.type == 'image/*') ? 'btn-success' : 'btn-warning'">
                <i class="fa fa-upload"></i>&nbsp;تحمل الشعار
              </button>
              <div class="text-center">
                <br>
                <p class="bg-danger" ng-show="myForm.logo.$error.maxSize">
                  حجم الملف كبير جدا {{errorFiles[0].size / 1000000|number:1}}MB : 
                  الحد اﻷقصي 2MB
                </p>
              </div>
            </div>
            <div class="col-md-9">
              <br>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">اسم الخدمة</label>
                    <input class="form-control input-sm" type="text" ng-model="newServiceProviderForm.name" placeholder="اسم الخدمة" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">رقم الهاتف</label>
                    <input class="form-control input-sm" type="text" ng-model="newServiceProviderForm.phone" placeholder="رقم الهاتف" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">البريد الالكتروني</label>
                    <input class="form-control input-sm" type="email" ng-model="newServiceProviderForm.email" ng-required-err-type="emailType" placeholder="البريد الالكتروني" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">موقع مزود الخدمة</label>
                    <input class="form-control input-sm" type="text" ng-model="newServiceProviderForm.website" placeholder="موقع مزود الخدمة" required>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-2 col-md-offset-4">
              <button type="submit" class="btn btn-primary btn-sm btn-block"><i class="fa fa-plus"></i>&nbsp;إضافة</button>
            </div>
            <div class="col-md-2">
              <a class="btn btn-success btn-sm btn-block" ui-sref="serviceProviders"><i class="fa fa-ban"></i>&nbsp;إلغاء</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>