<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>عرض مزودي الخدمة</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="row animated fadeIn">
          <div class="col-md-12" ng-show="serviceProviders.serviceProvidersObj.length == 0">
            <div class="well well-sm" >
              <div class="alert alert-info">
                <p class="text-center">
                  عفوا لاتوجد بيانات
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row animated fadeIn" ng-show="serviceProviders.serviceProvidersObj.length">
          <div class="col-md-4" ng-repeat="serviceProvider in serviceProviders.serviceProvidersObj">
            <div class="well well-sm">
              <div class="row">
                <div class="col-md-4">
                  <img ng-src="{{serviceProvider.logo | defaultLogo:'../img/internetProvider.png'}}" class="img-rounded img-responsive" alt="" style="padding-top:20px;">
                </div>
                <div class="col-md">
                  <h4>
                    {{serviceProvider.name}}
                  </h4>
                  <small>
                    <i class="fa fa-phone fa-fw"></i>
                    {{serviceProvider.phone}}
                  </small>
                  <br>
                  <small>
                    <i class="fa fa-envelope-o fa-fw"></i>
                    {{serviceProvider.email}}
                  </small>
                  <br>
                  <p>
                    <i class="fa fa-globe fa-fw"></i>
                    {{serviceProvider.website}}
                  </p>
                  <br>
                  &nbsp;&nbsp;<a class="btn btn-info btn-sm" ui-sref="detailServiceProvider({id:serviceProvider._id})">
                    <i class="fa fa-eye"></i>&nbsp;عرض
                  </a>
                  <a ng-show="editServiceProvider" class="btn btn-warning btn-sm" ui-sref="editServiceProvider({id:serviceProvider._id})">
                    <i class="fa fa-pencil"></i>&nbsp;تعديل
                  </a>
                  <a ng-show="deleteServiceProvider" class="btn btn-danger btn-sm" ladda="isDeleting" ng-click="showDeleteModel(serviceProvider._id)">
                    <i class="fa fa-trash"></i>&nbsp;إلغاء
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>