<div class="row animated fadeIn">
  <div class="col-md-6" ng-repeat="serviceProvider in serviceProviders.serviceProvidersObj">
    <div class="well well-sm">
      <div class="row">
        <div class="col-md-5">
          <img ng-src="{{serviceProvider.logo | defaultLogo:'../img/internetProvider.png'}}" class="img-rounded img-responsive" alt="">
        </div>
        <div class="col-md-7">
          <h4>
            {{serviceProvider.name}}
          </h4>
          <small>
            <i class="fa fa-phone fa-fw"></i>
            {{serviceProvider.phone}}
          </small>
          <br>
          <small>
            <i class="fa fa-envelope-o fa-fw"></i>
            {{serviceProvider.email}}
          </small>
          <br>
          <p>
            <i class="fa fa-globe fa-fw"></i>
            {{serviceProvider.website}}
          </p>
          <a class="btn btn-info btn-sm" ui-sref="detailServiceProvider({id:serviceProvider._id})">
            <i class="fa fa-eye"></i>&nbsp;عرض
          </a>
          <a class="btn btn-warning btn-sm" ui-sref="editServiceProvider({id:serviceProvider._id})">
            <i class="fa fa-pencil"></i>&nbsp;تعديل
          </a>
          <a class="btn btn-danger btn-sm" ladda="isDeleting" ng-click="deleteServiceProvider(serviceProvider._id)">
            <i class="fa fa-trash"></i>&nbsp;إلغاء
          </a>
        </div>
      </div>
    </div>
  </div>
</div>