<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>إضافة تنبيه عام</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <form novalidate ng-submit="newNotice()">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="form-group">
                <label class="control-label">تنبيه عام</label>
                <textarea class="form-control input-sm" type="text" ng-model="newNoticeForm.msg" rows="5" placeholder="تنبيه عام" required></textarea>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-2 col-md-offset-4">
              <button type="submit" class="btn btn-primary btn-sm btn-block" ladda="loadingStatus" data-style="zoom-out"><i class="fa fa-plus"></i>&nbsp;إضافة</button>
            </div>
            <div class="col-md-2">
              <a class="btn btn-success btn-sm btn-block" ui-sref="notices"><i class="fa fa-ban"></i>&nbsp;إلغاء</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>