<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <div class="row">
          <div class="col-xs-9">
            <h2 class="pull-right">عرض الفاتورة:- {{allInvoice[0].customer.name}}</h2>
          </div>
          <td ng-bind="dataa | date:'dd/MM/yyyy'"></td>
          <div class="col-xs-3 text-left">
            <a class="btn btn-sm btn-primary" ui-sref="newInvoice"><i class="fa fa-plus fa-fw"></i>&nbsp;إضافة فاتورة جديدة</a>
          </div> 
        </div>
        <div class="col-xs-7">
          <h4 class="pull-right">الأجمالي: {{allTotals}} &nbsp;&nbsp;&nbsp;المدفوع: {{piad}}&nbsp;&nbsp;&nbsp;&nbsp;الباقي: {{Therest}} </h4> 
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="table-responsive">
          <div ng-show="customers.length == 0">
            <div class="alert alert-info">
              <p class="text-center">
                عفوا لاتوجد بيانات
              </p>
            </div>
          </div>
          <table ng-show="true" class="table table-striped table-condensed jambo_table">
            <thead>
              <tr>
                <th>بداية الاشتراك</th>
                <th>نهاية الاشتراك </th>
                <th>نوع الفاتورة</th>
                <th>الموزع</th>
                <th>الحالة</th>
                <th><i class="fa fa-cog"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="invoice in allInvoice" ng-if="invoice.
                status==1" style="background-color:#ccffcc">
                <td ng-if="invoice.typein==4" ng-bind="invoice.createdAt | date:'dd/MM/yyyy'"></td>
                <td ng-if="invoice.typein==4" >لا يوجد</td>
                <td ng-if="invoice.typein==3" ng-bind="invoice.startDate | date:'dd/MM/yyyy'"></td>
                <td ng-if="invoice.typein==3" ng-bind="invoice.endDate | date:'dd/MM/yyyy'"></td>
                <td ng-if="invoice.typein==1" ng-bind="invoice.startDate | date:'dd/MM/yyyy'"></td>
                <td ng-if="invoice.typein==1" ng-bind="invoice.endDate | date:'dd/MM/yyyy'"></td>
                <td>
                  <span ng-if="invoice.typein==1"> فاتورة</span>
                  <span ng-if="invoice.typein==2"> مبدئية</span>
                  <span ng-if="invoice.typein==4">دفعة </span>
                  <span ng-if="invoice.typein==3"> تجديد</span>
                  <span ng-if="invoice.typein==1 && invoice.type==3"> تطوير فاتورة</span>
                </td>
                <td ng-if="customer.reseller.repName == null"> الشركة الام</td>
                <td ng-if="customer.reseller.repName != null">  {{customer.reseller.repName}}</td>
                <td ng-if="invoice.status==1">مأكدة</td>
                <td ng-if="invoice.status==2">قيد الانتظار</td>
                <td ng-if="invoice.status==3">مرفوضة</td>
                <td>
                  <a class="btn btn-success btn-xs" ng-click="moreInfo(invoice)"><i class="fa fa-info fa-fw"></i>المعلومات</a>
                  <a ng-if="invoice.typein!=4" class="btn btn-success btn-xs" ng-click="showInvoice(invoice._id)"><i class="fa fa-pencil fa-fw"></i>&nbsp;عرض الفاتورة</a>
                  <a ng-if="invoice.typein==4" class="btn btn-success btn-xs" ng-click="showPaid(invoice._id)"><i class="fa fa-pencil fa-fw"></i>&nbsp;عرض دفعة</a>
                  <a ng-if="invoice.typein==1" class="btn btn-success btn-xs" ui-sref="renewInvoice({id:invoice._id})"><i class="fa fa-plus fa-fw"></i>&nbsp;تجديد الفاتورة</a>
                  <a  class="btn btn-success btn-xs" ui-sref="upgreade({id:invoice._id})"><i class="fa fa-plus fa-fw"></i>&nbsp;تطوير</a>
                  <a ng-if="invoice.typein==1" class="btn btn-success btn-xs" ui-sref="paidInvoice({id:invoice._id})"><i class="fa fa-plus fa-fw"></i>&nbsp;الدفعات</a>
                  <a ng-if="resellerFlag!=1" class="btn btn-success btn-xs" ng-click="DeleteInvoice({id:invoice._id})"><i class="fa fa-plus fa-fw"></i>&nbsp;مسح</a>
                </td>
              </tr>
              <tr ng-repeat="invoice in allInvoice" ng-if="invoice.
                status==2" style="background-color:#ffffb3">
                <td ng-if="invoice.typein==4" ng-bind="invoice.createdAt | date:'dd/MM/yyyy'"></td>
                <td ng-if="invoice.typein==4" >لا يوجد</td>
                <td ng-if="invoice.typein==3" ng-bind="invoice.startDate | date:'dd/MM/yyyy'"></td>
                <td ng-if="invoice.typein==3" ng-bind="invoice.endDate | date:'dd/MM/yyyy'"></td>
                <td ng-if="invoice.typein==1" ng-bind="invoice.startDate | date:'dd/MM/yyyy'"></td>
                <td ng-if="invoice.typein==1" ng-bind="invoice.endDate | date:'dd/MM/yyyy'"></td>
                <td>
                  <span ng-if="invoice.typein==1"> فاتورة</span>
                  <span ng-if="invoice.typein==2"> مبدئية</span>
                  <span ng-if="invoice.typein==4">دفعة </span>
                  <span ng-if="invoice.typein==3"> تجديد</span>
                  <span ng-if="invoice.typein==1 && invoice.type==3"> تطوير</span>
                </td>
                <td ng-if="customer.reseller.repName == null"> الشركة الام</td>
                <td ng-if="customer.reseller.repName != null">  {{customer.reseller.repName}}</td>
                <td ng-if="invoice.status==1">مأكدة</td>
                <td ng-if="invoice.status==2">قيد الانتظار</td>
                <td ng-if="invoice.status==3">مرفوضة</td>
                <td>
                  <a class="btn btn-success btn-xs" ng-click="moreInfo(invoice)"><i class="fa fa-info fa-fw"></i>المعلومات</a>
                  <a ng-if="invoice.typein!=4" class="btn btn-success btn-xs" ng-click="showInvoice(invoice._id)"><i class="fa fa-pencil fa-fw"></i>&nbsp;عرض الفاتورة</a>
                  <a ng-if="invoice.typein==4" class="btn btn-success btn-xs" ng-click="showPaid(invoice._id)"><i class="fa fa-pencil fa-fw"></i>&nbsp;عرض دفعة</a>
                  <a ng-if="invoice.typein==1" class="btn btn-success btn-xs" ui-sref="renewInvoice({id:invoice._id})"><i class="fa fa-plus fa-fw"></i>&nbsp;تجديد الفاتورة</a>
                  <a ng-if="invoice.typein==1" class="btn btn-success btn-xs" ui-sref="paidInvoice({id:invoice._id})"><i class="fa fa-plus fa-fw"></i>&nbsp;الدفعات</a>
                  <a ng-if="resellerFlag!=1" class="btn btn-success btn-xs" ng-click="DeleteInvoice({id:invoice._id})"><i class="fa fa-plus fa-fw"></i>&nbsp;مسح</a>
                </td>
              </tr>
              <tr ng-repeat="invoice in allInvoice" ng-if="invoice.
                status==3" style="background-color: #ffb3b3">
                <td ng-if="invoice.typein==4" ng-bind="invoice.createdAt | date:'dd/MM/yyyy'"></td>
                <td ng-if="invoice.typein==4" >لا يوجد</td>
                <td ng-if="invoice.typein==3" ng-bind="invoice.startDate | date:'dd/MM/yyyy'"></td>
                <td ng-if="invoice.typein==3" ng-bind="invoice.endDate | date:'dd/MM/yyyy'"></td>
                <td ng-if="invoice.typein==1" ng-bind="invoice.startDate | date:'dd/MM/yyyy'"></td>
                <td ng-if="invoice.typein==1" ng-bind="invoice.endDate | date:'dd/MM/yyyy'"></td>
                <td>
                  <span ng-if="invoice.typein==1"> فاتورة</span>
                  <span ng-if="invoice.typein==2"> مبدئية</span>
                  <span ng-if="invoice.typein==4">دفعة </span>
                  <span ng-if="invoice.typein==3"> تجديد</span>
                </td>
                <td ng-if="customer.reseller.repName == null"> الشركة الام</td>
                <td ng-if="customer.reseller.repName != null">  {{customer.reseller.repName}}</td>
                <td ng-if="invoice.status==1">مأكدة</td>
                <td ng-if="invoice.status==2">قيد الانتظار</td>
                <td ng-if="invoice.status==3">مرفوضة</td>
                <td>
                  <a class="btn btn-success btn-xs" ng-click="moreInfo(invoice)"><i class="fa fa-info fa-fw"></i>المعلومات</a>
                  <a ng-if="invoice.typein!=4" class="btn btn-success btn-xs" ng-click="showInvoice(invoice._id)"><i class="fa fa-pencil fa-fw"></i>&nbsp;عرض الفاتورة</a>
                  <a ng-if="invoice.typein==4" class="btn btn-success btn-xs" ng-click="showPaid(invoice._id)"><i class="fa fa-pencil fa-fw"></i>&nbsp;عرض دفعة</a>
                  <a ng-if="invoice.typein==1" class="btn btn-success btn-xs" ui-sref="renewInvoice({id:invoice._id})"><i class="fa fa-plus fa-fw"></i>&nbsp;تجديد الفاتورة</a>
                  <a ng-if="invoice.typein==1" class="btn btn-success btn-xs" ui-sref="paidInvoice({id:invoice._id})"><i class="fa fa-plus fa-fw"></i>&nbsp;الدفعات</a>
                  <a ng-if="resellerFlag!=1" class="btn btn-success btn-xs" ng-click="DeleteInvoice({id:invoice._id})"><i class="fa fa-plus fa-fw"></i>&nbsp;مسح</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row" ng-show="customers.length">
          <div class="col-xs-12 col-md-12 text-center">
            <uib-pagination class="hidden-xs btn-sm" boundary-links="true" rotate="false" max-size="5" total-items="total" ng-model="currentPage" items-per-page="pageSize" ng-click="init()" previous-text="السابق" next-text="التالي" first-text="الاول" last-text="الاخير"></uib-pagination>
            <uib-pagination class="visible-xs" boundary-links="true" rotate="false" max-size="3" total-items="total" ng-model="currentPage" items-per-page="pageSize" ng-click="init()" previous-text="‹" next-text="›" first-text="«" last-text="»"></uib-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
