<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <div class="row">
          <div class="col col-xs-6">
            <h2>عرض الموزعين</h2>
          </div>
          <div class="col col-xs-6 text-left">
            <a ui-sref="newReseller" class="btn btn-sm btn-primary"><i class="fa fa-plus fa-fw"></i>&nbsp;إضافة موزع جديد</a>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="table-responsive">
          <div ng-show="resellers.length == 0">
            <div class="alert alert-info">
              <p class="text-center">
                عفوا لاتوجد بيانات
              </p>
            </div>
          </div>
          <table ng-show="resellers.length" class="table table-striped table-condensed jambo_table">
            <thead>
              <tr>
                <th>اسم المخول</th>
                <th>اسم الشركة</th>
                <th>البريد الالكتروني</th>
                <th>المدينة</th>
                <th>المنطقة</th>
                <th>رقم الهاتف</th>
                <th><i class="fa fa-cog"></i></th>
              </tr> 
            </thead>
            <tbody ng-repeat="reseller in resellers">
              <tr>
                <td>{{reseller.repName}}</td>
                <td>{{reseller.companyName}}</td>
                <td>{{reseller.email}}</td>
                <td>{{cityObject.citiesObj[reseller.city-1].nameAr}}</td>
                <td>{{reseller.address}}</td>
                <td>{{reseller.phone}}</td>
                <td>
                  <a class="btn btn-success btn-sm" ui-sref="showReseller({id:reseller._id})"><i class="fa fa-eye fa-fw"></i>&nbsp;عرض</a>
                  <a class="btn btn-success btn-sm" ui-sref="editReseller({id:reseller._id})"><i class="fa fa-pencil fa-fw"></i>&nbsp;تعديل</a>
                  <a class="btn btn-success btn-sm" ng-click="showDeleteModel(reseller._id)"><i class="fa fa-trash fa-fw"></i>&nbsp;حذف</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row" ng-show="resellers.length">
          <div class="col-xs-12 col-md-12 text-center">
            <uib-pagination class="hidden-xs btn-sm" boundary-links="true" rotate="false" max-size="5" total-items="total" ng-model="currentPage" items-per-page="pageSize" ng-click="init()" previous-text="السابق" next-text="التالي" first-text="الاول" last-text="الاخير"></uib-pagination>
            <uib-pagination class="visible-xs" boundary-links="true" rotate="false" max-size="3" total-items="total" ng-model="currentPage" items-per-page="pageSize" ng-click="init()" previous-text="‹" next-text="›" first-text="«" last-text="»"></uib-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>