<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>المعلومات الشخصية للموزع <span><strong>{{showResllerForm.repName}}</strong></span></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="row text-center">
          <div class="col-md-3">
            <dl>
              <dt>اسم الشركة</dt>
              <dd>{{showResllerForm.companyName}}</dd>
            </dl>
          </div>
          <div class="col-md-3">
            <dl>
              <dt>المنطقة</dt>
              <dd>{{showResllerForm.address}}</dd>
            </dl>
          </div>
          <div class="col-md-3">
            <dl>
              <dt>البريد الالكتروني</dt>
              <dd>{{showResllerForm.email}}</dd>
            </dl>
          </div>
          <div class="col-md-3">
            <dl>
              <dt>رقم الهاتف</dt>
              <dd>{{showResllerForm.phone}}</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>