<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<div class="widget-box animated fadeIn">
  <h5><i class="fa fa-plus"></i>&nbsp;إضافة الصلاحيات </h5>
  <hr>
  <form novalidate ng-submit="newPerm()">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="control-label">اسم الصلاحية</label>
          <input class="form-control input-sm" type="text" ng-model="newPermission.name"  placeholder="اسم الصلاحية" required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="control-label">الوصف</label>
          <textarea class="form-control input-sm" type="text" ng-model="newPermission.description"  placeholder="وصف الصلاحية" required></textarea>
        </div>
      </div>
    </div>
        
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary" >
            <div class="panel-heading">لوحة المعلومات</div>
              <div class="panel-body">
                <!-- row 1 -->
                <div class="row">
                  <div class="col-md-6">
                    <table class="table table-striped table-condensed jambo_table" >
                      <thead>
                        <tr>
                          <th>تسجيل الدولار</th>
                          <th class="text-center">الحالة</th>
                        </tr>
                      </thead>
                      <tbody>
                         <tr >
                          <td >الكــل</td>
                          <td class="text-center">
                            <!-- <input type="checkbox"  ng-click="allDollar(allDol)" checked ng-model="allDol" data-toggle="toggle" > -->
                            <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.dollar.all]" ng-click="newPermission.dollar.all = !newPermission.dollar.all">{{!newPermission.dollar.all && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                        <tr >
                          <td >إضافة الدولار</td>
                          <td class="text-center">
                           <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.dollar.add]" ng-click="newPermission.dollar.add = !newPermission.dollar.add">{{!newPermission.dollar.add && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                         <tr >
                          <td > مسح الدولار</td>
                          <td class="text-center">
                           <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.dollar.delete]" ng-click="newPermission.dollar.delete = !newPermission.dollar.delete">{{!newPermission.dollar.delete && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="col-md-6">
                    <table class="table table-striped table-condensed jambo_table" >
                      <thead>
                        <tr>
                          <th>تسجيل الموزعين</th>
                          <th class="text-center">الحالة</th>
                        </tr>
                      </thead>
                      <tbody>
                         <tr >
                          <td >الكــل</td>
                          <td class="text-center">
                            <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.resselers.all]" ng-click="newPermission.resselers.all = !newPermission.resselers.all">{{!newPermission.resselers.all && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                        <tr >
                          <td >إضافة الموزع</td>
                          <td class="text-center">
                            <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.resselers.add]" ng-click="newPermission.resselers.add = !newPermission.resselers.add">{{!newPermission.resselers.add && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                         <tr >
                          <td > مسح الموزع</td>
                          <td class="text-center">
                            <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.resselers.delete]" ng-click="newPermission.resselers.delete = !newPermission.resselers.delete">{{!newPermission.resselers.delete && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>

                        <tr >
                          <td > تعديل الموزع</td>
                          <td class="text-center">
                            <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.resselers.edit]" ng-click="newPermission.resselers.edit = !newPermission.resselers.edit">{{!newPermission.resselers.edit && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- row 2 -->
                <div class="row">
                  <div class="col-md-6">
                    <table class="table table-striped table-condensed jambo_table" >
                      <thead>
                        <tr>
                          <th>تسجيل الخدمة </th>
                          <th class="text-center">الحالة</th>
                        </tr>
                      </thead>
                      <tbody>
                         <tr >
                          <td >الكــل</td>
                          <td class="text-center">
                              <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.service.all]" ng-click="newPermission.service.all = !newPermission.service.all">{{!newPermission.service.all && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                        <tr >
                          <td >إضافة الخدمة</td>
                          <td class="text-center">
                             <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.service.add]" ng-click="newPermission.service.add = !newPermission.service.add">{{!newPermission.service.add && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                         <tr >
                          <td > مسح الخدمة</td>
                          <td class="text-center">
                              <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.service.delete]" ng-click="newPermission.service.delete = !newPermission.service.delete">{{!newPermission.service.delete && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                           <tr >
                          <td > تعديل الخدمة</td>
                          <td class="text-center">
                             <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.service.edit]" ng-click="newPermission.service.edit = !newPermission.service.edit">{{!newPermission.service.edit && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="col-md-6">
                    <table class="table table-striped table-condensed jambo_table" >
                      <thead>
                        <tr>
                          <th>تسجيل المزود</th>
                          <th class="text-center">الحالة</th>
                        </tr>
                      </thead>
                      <tbody>
                         <tr >
                          <td >الكــل</td>
                          <td class="text-center">
                             <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.serviceProviders.all]" ng-click="newPermission.serviceProviders.all = !newPermission.serviceProviders.all">{{!newPermission.serviceProviders.all && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                        <tr >
                          <td >إضافة المزود</td>
                          <td class="text-center">
                               <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.serviceProviders.add]" ng-click="newPermission.serviceProviders.add = !newPermission.serviceProviders.add">{{!newPermission.serviceProviders.add && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                         <tr >
                          <td > مسح المزود</td>
                          <td class="text-center">
                               <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.serviceProviders.delete]" ng-click="newPermission.serviceProviders.delete = !newPermission.serviceProviders.delete">{{!newPermission.serviceProviders.delete && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                         <tr >
                          <td > تعديل المزود</td>
                          <td class="text-center">
                            <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.serviceProviders.edit]" ng-click="newPermission.serviceProviders.edit = !newPermission.serviceProviders.edit">{{!newPermission.serviceProviders.edit && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
               <!--  row 3 -->
                <div class="row">
                  <div class="col-md-6">
                    <table class="table table-striped table-condensed jambo_table" >
                      <thead>
                        <tr>
                          <th>تسجيل الموردين </th>
                          <th class="text-center">الحالة</th>
                        </tr>
                      </thead>
                      <tbody>
                         <tr >
                          <td >الكــل</td>
                          <td class="text-center">
                            <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.suppliers.all]" ng-click="newPermission.suppliers.all = !newPermission.suppliers.all">{{!newPermission.suppliers.all && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                        <tr >
                          <td >إضافة موردين</td>
                          <td class="text-center">
                             <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.suppliers.add]" ng-click="newPermission.suppliers.add = !newPermission.suppliers.add">{{!newPermission.suppliers.add && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                         <tr >
                          <td > مسح الموردين</td>
                          <td class="text-center">
                              <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.suppliers.delete]" ng-click="newPermission.suppliers.delete = !newPermission.suppliers.delete">{{!newPermission.suppliers.delete && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                           <tr >
                          <td > تعديل الموردين</td>
                          <td class="text-center">
                              <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.suppliers.edit]" ng-click="newPermission.suppliers.edit = !newPermission.suppliers.edit">{{!newPermission.suppliers.edit && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="col-md-6">
                    <table class="table table-striped table-condensed jambo_table" >
                      <thead>
                        <tr>
                          <th>تسجيل المخازن</th>
                          <th class="text-center">الحالة</th>
                        </tr>
                      </thead>
                      <tbody>
                         <tr >
                          <td >الكــل</td>
                          <td class="text-center">
                            <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.warehouses.all]" ng-click="newPermission.warehouses.all = !newPermission.warehouses.all">{{!newPermission.warehouses.all && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                        <tr >
                          <td >إضافة المخازن</td>
                          <td class="text-center">
                             <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.warehouses.add]" ng-click="newPermission.warehouses.add = !newPermission.warehouses.add">{{!newPermission.warehouses.add && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                         <tr >
                          <td > مسح المخازن</td>
                          <td class="text-center">
                             <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.warehouses.delete]" ng-click="newPermission.warehouses.delete = !newPermission.warehouses.delete">{{!newPermission.warehouses.delete && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                         <tr >
                          <td > تعديل المخازن</td>
                          <td class="text-center">
                             <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.warehouses.edit]" ng-click="newPermission.warehouses.edit = !newPermission.warehouses.edit">{{!newPermission.warehouses.edit && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- row 4 -->
                <div class="row">
                  <div class="col-md-6">
                    <table class="table table-striped table-condensed jambo_table" >
                      <thead>
                        <tr>
                          <th>تسجيل المخزون </th>
                          <th class="text-center">الحالة</th>
                        </tr>
                      </thead>
                      <tbody>
                         <tr >
                          <td >الكــل</td>
                          <td class="text-center">
                            <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.instock.all]" ng-click="newPermission.instock.all = !newPermission.instock.all">{{!newPermission.instock.all && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                        <tr >
                          <td >إضافة المخزون</td>
                          <td class="text-center">
                            <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.instock.add]" ng-click="newPermission.instock.add = !newPermission.instock.add">{{!newPermission.instock.add && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                         <tr >
                          <td > مسح المخزون</td>
                          <td class="text-center">
                            <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.instock.delete]" ng-click="newPermission.instock.delete = !newPermission.instock.delete">{{!newPermission.instock.delete && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                           <tr >
                          <td > تعديل المخزون</td>
                          <td class="text-center">
                            <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.instock.edit]" ng-click="newPermission.instock.edit = !newPermission.instock.edit">{{!newPermission.instock.edit && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                
                  <div class="col-md-6">
                    <table class="table table-striped table-condensed jambo_table" >
                      <thead>
                        <tr>
                          <th>تسجيل  الفاتورة</th>
                          <th class="text-center">الحالة</th>
                        </tr>
                      </thead>
                      <tbody>
                         <tr >
                          <td >الكــل</td>
                          <td class="text-center">
                              <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.invoice.all]" ng-click="newPermission.invoice.all = !newPermission.invoice.all">{{!newPermission.invoice.all && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                        <tr >
                          <td >طباعة الفاتورة</td>
                          <td class="text-center">
                              <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.invoice.add]" ng-click="newPermission.invoice.add = !newPermission.invoice.add">{{!newPermission.invoice.add && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                         <tr >
                          <td > مسح الفاتورة </td>
                          <td class="text-center">
                              <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.invoice.delete]" ng-click="newPermission.invoice.delete = !newPermission.invoice.delete">{{!newPermission.invoice.delete && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- row 5 -->
                <div class="row">
                  <div class="col-md-6">
                    <table class="table table-striped table-condensed jambo_table" >
                      <thead>
                        <tr>
                          <th>تسجيل  السياسات</th>
                          <th class="text-center">الحالة</th>
                        </tr>
                      </thead>
                      <tbody>
                         <tr >
                          <td >الكــل</td>
                          <td class="text-center">
                              <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.policies.all]" ng-click="newPermission.policies.all = !newPermission.policies.all">{{!newPermission.policies.all && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                        <tr >
                          <td >إضافة السياسة</td>
                          <td class="text-center">
                              <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.policies.add]" ng-click="newPermission.policies.add = !newPermission.policies.add">{{!newPermission.policies.add && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                         <tr >
                          <td > مسح السياسة </td>
                          <td class="text-center">
                              <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.policies.delete]" ng-click="newPermission.policies.delete = !newPermission.policies.delete">{{!newPermission.policies.delete && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                         <tr >
                          <td > تعديل السياسة</td>
                          <td class="text-center">
                              <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.policies.edit]" ng-click="newPermission.policies.edit = !newPermission.policies.edit">{{!newPermission.policies.edit && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="col-md-6">
                    <table class="table table-striped table-condensed jambo_table" >
                      <thead>
                        <tr>
                          <th>تسجيل منتج الخدمة</th>
                          <th class="text-center">الحالة</th>
                        </tr>
                      </thead>
                      <tbody>
                         <tr >
                          <td >الكــل</td>
                          <td class="text-center">
                              <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.productServices.all]" ng-click="newPermission.productServices.all = !newPermission.productServices.all">{{!newPermission.productServices.all && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                        <tr >
                          <td >إضافة منتج الخدمة</td>
                          <td class="text-center">
                              <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.productServices.add]" ng-click="newPermission.productServices.add = !newPermission.productServices.add">{{!newPermission.productServices.add && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                         <tr >
                          <td > مسح منتج الخدمة</td>
                          <td class="text-center">
                              <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.productServices.delete]" ng-click="newPermission.productServices.delete = !newPermission.productServices.delete">{{!newPermission.productServices.delete && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                         <tr >
                          <td > تعديل منتج الخدمة</td>
                          <td class="text-center">
                              <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.productServices.edit]" ng-click="newPermission.productServices.edit = !newPermission.productServices.edit">{{!newPermission.productServices.edit && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <!-- row 6 -->
                <div class="row">
                  <div class="col-md-6">
                    <table class="table table-striped table-condensed jambo_table" >
                      <thead>
                        <tr>
                          <th>تسجيل سياسات المنتج </th>
                          <th class="text-center">الحالة</th>
                        </tr>
                      </thead>
                      <tbody>
                         <tr >
                          <td >الكــل</td>
                          <td class="text-center">
                              <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.productPolicies.all]" ng-click="newPermission.productPolicies.all = !newPermission.productPolicies.all">{{!newPermission.productPolicies.all && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                        <tr >
                          <td >إضافة سياسات المنتج</td>
                          <td class="text-center">
                              <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.productPolicies.add]" ng-click="newPermission.productPolicies.add = !newPermission.productPolicies.add">{{!newPermission.productPolicies.add && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                         <tr >
                          <td > مسح سياسات المنتج</td>
                          <td class="text-center">
                              <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.productPolicies.delete]" ng-click="newPermission.productPolicies.delete = !newPermission.productPolicies.delete">{{!newPermission.productPolicies.delete && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                           <tr >
                          <td > تعديل سياسات المنتج</td>
                          <td class="text-center">
                              <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.productPolicies.edit]" ng-click="newPermission.productPolicies.edit = !newPermission.productPolicies.edit">{{!newPermission.productPolicies.edit && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="col-md-6">
                    <table class="table table-striped table-condensed jambo_table" >
                      <thead>
                        <tr>
                          <th>تسجيل منتج الحزمة</th>
                          <th class="text-center">الحالة</th>
                        </tr>
                      </thead>
                      <tbody>
                         <tr >
                          <td >الكــل</td>
                          <td class="text-center">
                              <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.productPackages.all]" ng-click="newPermission.productPackages.all = !newPermission.productPackages.all">{{!newPermission.productPackages.all && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                        <tr >
                          <td >إضافة منتج الحزمة</td>
                          <td class="text-center">
                               <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.productPackages.add]" ng-click="newPermission.productPackages.add = !newPermission.productPackages.add">{{!newPermission.productPackages.add && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                         <tr >
                          <td > مسح منتج الحزمة</td>
                          <td class="text-center">
                               <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.productPackages.delete]" ng-click="newPermission.productPackages.delete = !newPermission.productPackages.delete">{{!newPermission.productPackages.delete && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                         <tr >
                          <td > تعديل منتج الحزمة</td>
                          <td class="text-center">
                               <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.productPackages.edit]" ng-click="newPermission.productPackages.edit = !newPermission.productPackages.edit">{{!newPermission.productPackages.edit && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <!-- row 7 -->
                <div class="row">
                  <div class="col-md-6">
                    <table class="table table-striped table-condensed jambo_table" >
                      <thead>
                        <tr>
                          <th>تسجيل الزبون </th>
                          <th class="text-center">الحالة</th>
                        </tr>
                      </thead>
                      <tbody>
                         <tr >
                          <td >الكــل</td>
                          <td class="text-center">
                              <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.customers.all]" ng-click="newPermission.customers.all = !newPermission.customers.all">{{!newPermission.customers.all && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                        <tr >
                          <td >إضافة الزبون</td>
                          <td class="text-center">
                              <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.customers.add]" ng-click="newPermission.customers.add = !newPermission.customers.add">{{!newPermission.customers.add && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                         <tr >
                          <td > مسح الزبون</td>
                          <td class="text-center">
                              <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.customers.delete]" ng-click="newPermission.customers.delete = !newPermission.customers.delete">{{!newPermission.customers.delete && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                           <tr >
                          <td > تعديل الزبون</td>
                          <td class="text-center">
                              <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.customers.edit]" ng-click="newPermission.customers.edit = !newPermission.customers.edit">{{!newPermission.customers.edit && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div> 


                  <div class="col-md-6">
                    <table class="table table-striped table-condensed jambo_table" >
                      <thead>
                        <tr>
                          <th>تسجيل منتج ألمعدة</th>
                          <th class="text-center">الحالة</th>
                        </tr>
                      </thead>
                      <tbody>
                         <tr >
                          <td >الكــل</td>
                          <td class="text-center">
                              <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.productItems.all]" ng-click="newPermission.productItems.all = !newPermission.productItems.all">{{!newPermission.productItems.all && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                        <tr >
                          <td >إضافة منتج الخدمة</td>
                          <td class="text-center">
                              <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.productItems.add]" ng-click="newPermission.productItems.add = !newPermission.productItems.add">{{!newPermission.productItems.add && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                         <tr >
                          <td > مسح منتج الخدمة</td>
                          <td class="text-center">
                              <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.productItems.delete]" ng-click="newPermission.productItems.delete = !newPermission.productItems.delete">{{!newPermission.productItems.delete && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                         <tr >
                          <td > تعديل منتج الخدمة</td>
                          <td class="text-center">
                              <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[!newPermission.productItems.edit]" ng-click="newPermission.productItems.edit = !newPermission.productItems.edit">{{!newPermission.productItems.edit && 'غير مفعل' || 'مفعل'}}</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>



                </div>
              </div>
          </div>
        </div>
      </div>


     
    <hr>
    <div class="row">
      <div class="col-md-2 col-md-offset-4">
        <button type="submit" class="btn btn-primary btn-sm btn-block" ladda="loadingStatus" data-style="zoom-out"><i class="fa fa-plus"></i>&nbsp;إضافة</button>
      </div>
      <div class="col-md-2">
        <a class="btn btn-success btn-sm btn-block" ui-sref="services"><i class="fa fa-ban"></i>&nbsp;إلغاء</a>
      </div>
    </div>
  </form>
</div>