<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>تعديل منتج المعدات الاخري <span>{{editProductOtherEquForm.name}}</span></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <form novalidate ng-submit="editProductOtherEqu()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">اسم الخدمة</label>
                <input class="form-control input-sm" type="text" ng-model="editProductOtherEquForm.name" placeholder="اسم الخدمة" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">سعر الخدمة</label>
                <input class="form-control input-sm" type="text" ng-model="editProductOtherEquForm.initialPrice" placeholder="سعر الخدمة" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">معلومات عن الخدمة</label>
                <textarea class="form-control input-sm" rows="5" ng-model="editProductOtherEquForm.discriptoin" placeholder="معلومات عن الخدمة" required></textarea>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-2 col-md-offset-4">
              <button type="submit" class="btn btn-warning btn-sm btn-block"><i class="fa fa-pencil"></i>&nbsp;تعديل</button>
            </div>
            <div class="col-md-2">
              <a class="btn btn-success btn-sm btn-block" ui-sref="productServices"><i class="fa fa-ban"></i>&nbsp;إلغاء</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>