<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>إضافة منتج جديد</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div bs-active-pane="activeTab" bs-tabs>
          <div data-title="خدمة - service" name="tap1" bs-pane>
            <form novalidate ng-submit="newServiceProduct()">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">اسم الخدمة</label>
                    <input class="form-control input-sm" type="text" ng-model="newProductForm.name" placeholder="اسم الخدمة" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">سعر الخدمة</label>
                    <input class="form-control input-sm" type="text" ng-model="newProductForm.initialPrice" placeholder="سعر الخدمة" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="
                col-md-12">
                  <div class="form-group">
                    <label class="control-label">معلومات عن الخدمة</label>
                    <textarea class="form-control input-sm" rows="5" ng-model="newProductForm.discriptoin" placeholder="معلومات عن الخدمة" required></textarea>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-2 col-md-offset-4">
                  <button type="submit" class="btn btn-primary btn-sm btn-block" ladda="loadingStatus" data-style="zoom-out"><i class="fa fa-plus"></i>&nbsp;إضافة</button>
                </div>
                <div class="col-md-2">
                  <a class="btn btn-success btn-sm btn-block" ui-sref="productServices"><i class="fa fa-ban"></i>&nbsp;إلغاء</a>
                </div>
              </div>
            </form>
          </div>
          <div data-title="معدات اخرى - Other equipment" name="tap4" bs-pane>
            <form novalidate ng-submit="newEtcProduct()">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">اسم المعد</label>
                    <input class="form-control input-sm" type="text" ng-model="newProductForm.name" placeholder="اسم المعد" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">سعر المعد</label>
                    <input class="form-control input-sm" type="text" ng-model="newProductForm.initialPrice" placeholder="سعر المعد" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="
                col-md-12">
                  <div class="form-group">
                    <label class="control-label">معلومات عن المعد</label>
                    <textarea class="form-control input-sm" rows="5" ng-model="newProductForm.discriptoin" placeholder="معلومات عن المعد" required></textarea>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-2 col-md-offset-4">
                  <button type="submit" class="btn btn-primary btn-sm btn-block" ladda="loadingStatus" data-style="zoom-out"><i class="fa fa-plus"></i>&nbsp;إضافة</button>
                </div>
                <div class="col-md-2">
                  <a class="btn btn-success btn-sm btn-block" ui-sref="productServices"><i class="fa fa-ban"></i>&nbsp;إلغاء</a>
                </div>
              </div>
            </form>
          </div>
          <div data-title="معدة - item" name="tap2" bs-pane>
            <form novalidate ng-submit="newItemProduct()">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">اسم المعدة</label>
                    <input class="form-control input-sm" type="text" ng-model="newProductForm.name" placeholder="اسم المعدة" required>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">سعر المعدة</label>
                    <input class="form-control input-sm" type="text" ng-model="newProductForm.initialPrice" placeholder="سعر المعدة" required>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">المورد</label>
                    <select class="form-control input-sm" ng-model="newProductForm.item.supplier" ng-options="supplier._id as supplier.name for supplier in objects.suppliersObj" required>
                      <option value="" disabled selected>الرجاء الاختيار</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">اسم العلامة التجارية</label>
                    <input class="form-control input-sm" type="text" ng-model="newProductForm.item.brand" placeholder="اسم العلامة التجارية" required>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="control-label">معلومات عن المعدة</label>
                    <textarea class="form-control input-sm" rows="5" ng-model="newProductForm.discriptoin" placeholder="معلومات عن المعدة" required></textarea>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-2 col-md-offset-4">
                  <button type="submit" class="btn btn-primary btn-sm btn-block" ladda="loadingStatus" data-style="zoom-out"><i class="fa fa-plus"></i>&nbsp;إضافة</button>
                </div>
                <div class="col-md-2">
                  <a class="btn btn-success btn-sm btn-block" ui-sref="productServices"><i class="fa fa-ban"></i>&nbsp;إلغاء</a>
                </div>
              </div>
            </form>
          </div>
          <div data-title="حزمة - package" name="tap3" bs-pane>
            <form novalidate ng-submit="newPackageProduct()">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">اسم الحزمة</label>
                    <input class="form-control input-sm" type="text" ng-model="newProductForm.name" placeholder="اسم الحزمة" required>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">سعر الحزمة</label>
                    <input class="form-control input-sm" type="text" ng-model="newProductForm.initialPrice" placeholder="سعر الحزمة" required>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">مزودي الخدمة</label>
                    <select class="form-control input-sm" ng-model="newProductForm.packages.type" ng-options="serviceProvider._id as serviceProvider.name for serviceProvider in objects.serviceProvidersObj"  ng-change="getServiceByID(newProductForm.packages.type)" required>
                      <option value="" disabled selected>الرجاء الاختيار</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">الخدمة</label>
                    <select class="form-control input-sm" ng-model="newProductForm.packages.service" ng-options="service._id as service.name for service in ObjService" required>
                      <option value="" disabled selected>الرجاء الاختيار</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2" style="padding-left:0px;">
                  <div class="form-group">
                    <label class="control-label">سرعة التحميل</label>
                    <input class="form-control input-sm" type="text" ng-model="newProductForm.packages.dSpeed" placeholder="سرعة التحميل" required>
                  </div>
                </div>
                <div class="col-md-1" style="padding-right:0px;">
                  <div class="form-group">
                    <label class="control-label">نوع</label>
                    <select class="form-control input-sm" ng-model="Speedtype" ng-change="speetType(Speedtype)" required>
                      <option value="" disabled selected>اختار</option>
                      <option value="Kbps">Kbps</option>
                      <option value="Mbps">Mbps</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2" style="padding-left:0px;">
                  <div class="form-group">
                    <label class="control-label">سرعة الرفع</label>
                    <input class="form-control input-sm" type="text" ng-model="newProductForm.packages.uSpeed" placeholder="سرعة الرفع" required>
                  </div>
                </div>
                 <div class="col-md-1" style="padding-right:0px;">
                  <div class="form-group">
                    <label class="control-label">نوع</label>
                    <select class="form-control input-sm" ng-model="Utype" ng-change="UType(Utype)" required>
                      <option value="" disabled selected>اختار</option>
                      <option value="Kbps">Kbps</option>
                      <option value="Mbps">Mbps</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2" style="padding-left:0px;">
                  <div class="form-group">
                    <label class="control-label">الحصة الشهرية</label>
                    <input class="form-control input-sm" type="text" ng-model="newProductForm.packages.monthlyQuota" placeholder="الحصة الشهرية" required>
                  </div>
                </div>
                 <div class="col-md-1" style="padding-right:0px;">
                  <div class="form-group">
                    <label class="control-label">نوع</label>
                    <select class="form-control input-sm" ng-model="GBtype" ng-change="GBTypee(GBtype)"  required>
                      <option value="" disabled selected>اختار</option>
                      <option value="GB">GB</option>
                      <option value="Unlimted">Unlimted</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">التكلفة من المزود</label>
                    <input class="form-control input-sm" type="text" ng-model="newProductForm.packages.cost" placeholder="التكلفة من المزود" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">العملة</label>
                    <input class="form-control input-sm" type="text" ng-model="newProductForm.packages.costCurrency" placeholder="العملة" required>
                  </div>
                </div>
                <div class="col-md-3" ng-if="ifGB">
                  <div class="form-group">
                    <label class="control-label">نسبة المشاركة</label>
                    <input class="form-control input-sm" type="text" ng-model="newProductForm.packages.shear" placeholder="المشاركة">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">معلومات عن الحزمة</label>
                    <textarea class="form-control input-sm" rows="5" ng-model="newProductForm.discriptoin" placeholder="معلومات عن الحزمة" required></textarea>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-2 col-md-offset-4">
                  <button type="submit" class="btn btn-primary btn-sm btn-block" ladda="loadingStatus" data-style="zoom-out"><i class="fa fa-plus"></i>&nbsp;إضافة</button>
                </div>
                <div class="col-md-2">
                  <a class="btn btn-success btn-sm btn-block" ui-sref="productServices"><i class="fa fa-ban"></i>&nbsp;إلغاء</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>