<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>إضافة عميل جديد</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <form novalidate ng-submit="newCustomer()">
          <div class="row">
            <div class="col-md-4" ng-class="{'col-md-3': newCustomerForm.type==2}">
              <div class="form-group">
                <label class="control-label">نوع العميل</label>
                <select class="form-control input-sm" ng-model="newCustomerForm.type" ng-required-err-type="type" required>
                  <option value="" disabled selected>الرجاء الاختيار</option>
                  <option value="1">شخصي</option>
                  <option value="2">شركة</option>
                </select>
              </div>
            </div>
            <div class="col-md-4" ng-class="{'col-md-3': newCustomerForm.type==2}">
              <div class="form-group">
                <label class="control-label">اسم العميل</label>
                <input class="form-control input-sm" type="text" ng-model="newCustomerForm.name" ng-required-err-type="customerName" placeholder="اسم العميل" required>
              </div>
            </div>
            <div class="col-md-3" ng-if="newCustomerForm.type == 2">
              <div class="form-group">
                <label class="control-label">اسم المندوب</label>
                <input class="form-control input-sm" type="text" ng-model="newCustomerForm.repName" ng-required-err-type="repName" placeholder="اسم المندوب" required>
              </div>
            </div>
            <div class="col-md-4" ng-class="{'col-md-3': newCustomerForm.type==2}">
              <div class="form-group">
                <label class="control-label">المدينة</label>
                <select class="form-control input-sm" ng-model="newCustomerForm.city" ng-options="city.id as city.nameAr for city in objects.citiesObj" ng-required-err-type="city" required>
                  <option value="" disabled selected>الرجاء الاختيار</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">العنوان</label>
                <input class="form-control input-sm" type="text" ng-model="newCustomerForm.address" ng-required-err-type="area" placeholder="العنوان" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">البريد الالكتروني</label>
                <input class="form-control input-sm" type="text" ng-model="newCustomerForm.email" ng-required-err-type="emailType" placeholder="البريد الالكتروني" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">رقم الهاتف</label>
                <input class="form-control input-sm" type="text" ng-model="newCustomerForm.phone" ng-required-err-type="phone" placeholder="رقم الهاتف" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">ملاحظات</label>
                <textarea class="form-control input-sm" rows="6" ng-model="newCustomerForm.notes" ng-required-err-type="notes" placeholder="ملاحظات" required></textarea>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-2 col-md-offset-4">
              <button type="submit" class="btn btn-primary btn-sm btn-block"><i class="fa fa-plus"></i>&nbsp;إضافة</button>
            </div>
            <div class="col-md-2">
              <a class="btn btn-success btn-sm btn-block" ui-sref="customers"><i class="fa fa-ban"></i>&nbsp;إلغاء</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>