<div id="deleteModal" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h5 class="modal-title">تعديل الموظف </h5>
      </div>
      <form ng-submit="confirmEdit(editUserForm._id)">
        <br>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">البريد الالكتروني</label>
                <input class="form-control input-sm" type="text" ng-model="editUserForm.email" ng-required-err-type="repName" placeholder="البريد الالكتروني" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">رقم الهاتف</label>
                <input class="form-control input-sm" type="text" ng-model="editUserForm.phone" ng-required-err-type="repName" placeholder="رقم الهاتف" required>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">رقم السري الجديد</label>
                <input class="form-control input-sm" type="password" ng-model="editUserForm.password"  placeholder="الرقم السري" required>
              </div>
            </div>       
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">تأكيد رقم السري</label>
                <input class="form-control input-sm" type="password" ng-model="editUserForm.confPassword"  placeholder="تأكيد الرقم السري" required>
              </div>
            </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-2 col-md-offset-4">
              <button type="button" class="btn btn-danger" ng-click="editModel.hide()">الغاء</button>
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-primary btn-sm btn-block"><i class="fa fa-plus"></i>&nbsp;إضافة</button>
            </div>
            
          </div>
          <br>
      </form>
    </div>
  </div>
</div>