<div class="row tile_count">
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> عدد الزبائن</span>
    <div class="count">{{customerNumber}}</div>
    عدد الزبائن المفعلين
    <!-- <span class="count_bottom"><i class="green">4% </i> من أسبوع الماضي</span> -->
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-clock-o"></i> عدد الموردين</span>
    <div class="count">{{suppliersCount}}</div>
    عدد الموردين بالمنظومة
  <!--   <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> من أسبوع الماضي</span> -->
  </div>
  <div class="col-md-2 col-sm-5 col-xs-7 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> اجمالي المبيعات</span>
    <div class="count green">{{totalMoney}}</div>
    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i></i> مجموع المبيعات الكلي</span>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> اجمالي المدفوع </span>
    <div class="count">{{totalPaid}}</div>
    <span class="count_top"><i class="green"><i class="fa fa-sort-asc"></i></i> مجموع المدفوع الكلي</span>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_bottom"><i class="fa fa-user"></i> اجمالي المتبقي</span>
    <div class="count">{{reminder}}</div>
    <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i></i> مجموع الديون الكلي</span>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> عدد الموزعين </span>
    <div class="count">{{ResellerCount}}</div>
    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i></i> عدد الموزعين الكلي</span>
  </div>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6700.241928712466!2d13.180562896124286!3d32.89496989778702!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sly!4v1466030773105" width="1000" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>



<!--
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>X Title</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
      </div>
    </div>
  </div>
</div>
-->