<div class="row">
  <div class="col-md-6" ng-repeat="service in services.servicesObj">
    <div class="well well-sm">
      <div class="row">
        <div class="col-md-5">
          <img ng-src="{{service.logo | defaultLogo:'../img/internetProvider.png'}}" class="img-rounded img-responsive" alt="">
        </div>
        <div class="col-md-7">
          <h4>
            {{service.name}}
          </h4>
          <small>
            <i class="fa fa-phone fa-fw"></i>
            {{service.phone}}
          </small>
          <br>
          <small>
            <i class="fa fa-envelope-o fa-fw"></i>
            {{service.email}}
          </small>
          <br>
          <p>
            <i class="fa fa-globe fa-fw"></i>
            {{service.website}}
          </p>
          <a class="btn btn-warning btn-sm" ui-sref="editService({id:service.id})">
            <i class="fa fa-pencil"></i>&nbsp;تعديل
          </a>
          <a class="btn btn-danger btn-sm" ladda="isDeleting" ng-click="deleteService(service.id)">
            <i class="fa fa-trash"></i>&nbsp;إلغاء
          </a>
        </div>
      </div>
    </div>
  </div>  
</div>