<div class="widget-box animated fadeIn">
  <h5><i class="fa fa-plus"></i>&nbsp;إضافة مخزن جديد</h5>
  <hr>
  <form novalidate ng-submit="newWarehouse()">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">اسم المخزن</label>
          <input class="form-control input-sm" type="text" ng-model="newWarehouseForm.name" ng-required-err-type="name" placeholder="اسم الخدمة" required>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">المدينة</label>
          <select class="form-control input-sm" ng-model="newWarehouseForm.city" ng-options="city.id as city.nameAr for city in objects.citiesObj" ng-required-err-type="city" required>
            <option value="" disabled selected>الرجاء الاختيار</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">المنطقة</label>
          <input class="form-control input-sm" type="text" ng-model="newWarehouseForm.area" ng-required-err-type="area" placeholder="المنطقة" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">البريد الالكتروني</label>
          <input class="form-control input-sm" type="text" ng-model="newWarehouseForm.email" ng-required-err-type="emailType" placeholder="البريد الالكتروني" required>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">رقم الهاتف</label>
          <input class="form-control input-sm" type="text" ng-model="newWarehouseForm.phone" ng-required-err-type="phone" placeholder="رقم الهاتف" required>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2 col-md-offset-4">
        <button type="submit" class="btn btn-primary btn-sm btn-block"><i class="fa fa-plus"></i>&nbsp;إضافة</button>
      </div>
      <div class="col-md-2">
        <a class="btn btn-success btn-sm btn-block" ui-sref="warehouses"><i class="fa fa-ban"></i>&nbsp;إلغاء</a>
      </div>
    </div>
  </form>
</div>