<div class="panel panel-default panel-table  animated fadeIn">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-2">
        <h3 class="panel-title" style="padding-top: 5px;">عرض المخزون</h3>
      </div>
      <div class="col-xs-4">
        <div class="input-group">
          <input type="text" class="form-control input-sm" ng-model="searchByName" ng-change="searchCustomer()" placeholder="بحث...">
          <div class="input-group-btn">
            <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </div>
      
      <div class="col-xs-2">
        <a ui-sref="newInStock" class="btn btn-sm btn-primary"><i class="fa fa-plus fa-fw"></i>&nbsp;إضافة مخزون جديد</a>
      </div>
      &nbsp;&nbsp;
      <button type="button" class="btn btn-info btn-sm" data-placement="right" data-trigger="focus"  ng-click="showPassword()" >
              <em ng-if="hidePass" class="glyphicon glyphicon-eye-open"></em>
              <em ng-if="showPass" class="glyphicon glyphicon-eye-close"></em>
        </button>

    </div>
  </div>
  <div class="table-responsive">
    <div ng-if="customers.length == 0">
      <div class="alert alert-info" style="margin:20px;">
        <p class="text-center">
          عفوا لاتوجد بيانات
        </p>
      </div>
    </div>
    <table ng-if="true" class="table table-striped table-bordered table-condensed table-hover">
      <thead>
        <tr>
          <th>المخزن</th>
          <th>المنتج</th>
          <th>ماك ادرس</th>
          <th>اسم المستخدم</th>
          <th>الباسورد</th>
          <th class="text-center"><em class="fa fa-cog"></em></th>
        </tr> 
      </thead>
      <tbody ng-repeat="inStocks in getInStocks">
        <tr>
          <td>{{inStocks.warehouse.name}}</td>
          <td>{{inStocks.product.name}}</td>
          <td>{{inStocks.macAddress}}</td>
          <td>{{inStocks.username}}</td>
          <td> <p ng-if="showPass">{{inStocks.password}}</p> <p ng-if="hidePass"> ******** </p></td>
          <td class="text-center">
            
            <button type="button" class="btn btn-info btn-sm" data-placement="right" data-trigger="focus" title="مزيد من المعلومات" data-content="الوصف:- {{inStocks.description}}" bs-popover>
              <em class="fa fa-info fa-fw"></em>
            </button>

            <a class="btn btn-warning btn-sm" ui-sref="editCustomer({id:customer._id})" data-trigger="hover" data-title="تعديل" bs-tooltip><em class="fa fa-pencil fa-fw"></em></a>
            <a class="btn btn-danger btn-sm" data-trigger="hover" data-title="حذف" ng-click="showDeleteModel(inStocks._id)" bs-tooltip><em class="fa fa-trash fa-fw"></em></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel-footer" ng-show="customers.length">
    <div class="row">
      <div class="col-xs-12 col-md-12 text-center">
        <uib-pagination class="hidden-xs btn-sm" boundary-links="true" rotate="false" max-size="5" total-items="total" ng-model="currentPage" items-per-page="pageSize" ng-click="init()" previous-text="السابق" next-text="التالي" first-text="الاول" last-text="الاخير"></uib-pagination>
        <uib-pagination class="visible-xs" boundary-links="true" rotate="false" max-size="3" total-items="total" ng-model="currentPage" items-per-page="pageSize" ng-click="init()" previous-text="‹" next-text="›" first-text="«" last-text="»"></uib-pagination>
      </div>
    </div>
  </div>
</div>