<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>إضافة مخزون جديد</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <form  novalidate ng-submit="newInStock()">
          <div class="row">
            <div class="col-md-4" ng-class="">
              <div class="form-group">
                <label class="control-label">المخزن</label>
                <select class="form-control input-sm" ng-model="newInStockForm.warehouse" ng-options="stock._id as stock.name for stock in objects.stockObj" required>
                  <option value="" disabled selected>الرجاء الاختيار</option>
                </select>
              </div>
            </div>
            <div class="col-md-4" ng-class="">
              <div class="form-group">
                <label class="control-label">نوع المنتج </label>
                <select class="form-control input-sm" ng-model="newInStockForm.type" ng-required-err-type="required" ng-change="productType()"required>
                  <option value="" disabled selected>الرجاء الاختيار</option>
                  <option value="1">الخدمة</option>
                  <option value="2">المعدة</option>
                  <option value="3">الحزمة</option>
                  <option value="4">معدات اخرى</option>

                </select>
              </div>
            </div>
            <div class="col-md-4" ng-class="">
              <div class="form-group">
                <label class="control-label">المنتج </label>
                <select class="form-control input-sm" ng-model="newInStockForm.product"ng-options="stock._id as stock.name for stock in Allproduct"  ng-required-err-type="required" required>
                  <option value="" disabled selected>الرجاء الاختيار</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4" >
              <div class="form-group">
                <label class="control-label">ماك ادرس/سيريال نامبر</label>
                <input class="form-control input-sm" type="text" ng-model="newInStockForm.macAddress" ng-required-err-type="required" placeholder="ماك ادرس/سيريال نامبر" required>
              </div>
            </div>
            <div class="col-md-4" >
              <div class="form-group">
                <label class="control-label">اسم المستخدم</label>
                <input class="form-control input-sm" type="text" ng-model="newInStockForm.username" ng-required-err-type="required" placeholder="اسم المستخدم" required>
              </div>
            </div>
            <div class="col-md-4" >
              <div class="form-group">
                <label class="control-label">كلمة المرور</label>
                <input class="form-control input-sm" type="password" ng-model="newInStockForm.password" ng-required-err-type="required" placeholder="كلمة المرور"  required>
              </div>
            </div>
          </div>
          <div class="row">
             <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">الوصف</label>
                <textarea class="form-control input-sm" rows="6" cols="12" ng-model="newInStockForm.description" ng-required-err-type="notes" placeholder="ملاحظات" ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-md-offset-4">
              <button type="submit" class="btn btn-primary btn-sm btn-block"><i class="fa fa-plus"></i>&nbsp;إضافة</button>
            </div>
            <div class="col-md-2">
              <a class="btn btn-success btn-sm btn-block" ui-sref="inStock"><i class="fa fa-ban"></i>&nbsp;إلغاء</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>