<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>تعديل سياسات منتج (الحزمة)</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <form novalidate ng-submit="editProductPolicy()">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">اسم الحزمة</label>
                <select class="form-control input-sm" ng-model="editPolicyPackageForm.product" ng-options="package._id as package.name for package in objects.packagesObj" required>
                  <option value="" disabled selected>الرجاء الاختيار</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">اسم السياسة</label>
                <select class="form-control input-sm" ng-model="editPolicyPackageForm.policy" ng-options="policy._id as policy.name for policy in objects.policiesObj" required>
                  <option value="" disabled selected>الرجاء الاختيار</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">سعر السياسة</label>
                <input class="form-control input-sm" type="text" ng-model="editPolicyPackageForm.initialPrice" placeholder="سعر السياسة" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">سعر التجديد</label>
                <input class="form-control input-sm" type="text" ng-model="editPolicyPackageForm.packages.renewPrice" placeholder="سعر التجديد" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">سعر الجيجا</label>
                <input class="form-control input-sm" type="text" ng-model="editPolicyPackageForm.packages.GBPrice" placeholder="سعر الجيجا" required>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-2 col-md-offset-4">
              <button type="submit" class="btn btn-primary btn-sm btn-block"><i class="fa fa-plus"></i>&nbsp; تعديل</button>
            </div>
            <div class="col-md-2">
              <a class="btn btn-success btn-sm btn-block" ui-sref="productPoliciesPackage"><i class="fa fa-ban"></i>&nbsp;إلغاء</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>