<div class="panel panel-default panel-table animated fadeIn">
  <div class="panel-heading">
    <div class="row">
      <div class="col col-xs-6">
        <h3 class="panel-title" style="padding-top: 5px;">عرض سياسات منتج (المعدة)</h3>
      </div>
      <div class="col col-xs-6 text-left">
        <a ui-sref="newProductPolicy" class="btn btn-sm btn-primary"><i class="fa fa-plus fa-fw"></i>&nbsp;إضافة سياسة منتج جديد</a>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed table-hover">
      <thead>
        <tr>
          <th>Code</th>
          <th>Company</th>
          <th class="numeric">Price</th>
          <th class="numeric">Change</th>
          <th class="numeric">Change %</th>
          <th class="numeric">Open</th>
          <th class="numeric">High</th>
          <th class="numeric">Low</th>
          <th class="numeric">Volume</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>AAC</td>
          <td>AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
          <td class="numeric">$1.38</td>
          <td class="numeric">-0.01</td>
          <td class="numeric">-0.36%</td>
          <td class="numeric">$1.39</td>
          <td class="numeric">$1.39</td>
          <td class="numeric">$1.38</td>
          <td class="numeric">9,395</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>